
img{
    max-width: 100%;
    height: auto;
}
.carousel-caption{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
#intro{
    font-family: 'Rakkas';
    font-size: 23px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}
body {
    text-align: center;
  }
  .wrapper {
    display: inline-flex;
    justify-content: center;
  }
  .wrapper i {
    padding: 10px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 150ms;
  }
  .wrapper a:nth-child(1) {
    color: #333;
    filter: brightness(26%);
  }
  .wrapper a:nth-child(2) {
    color: #0077b5;
  }
  .wrapper a:nth-child(3) {
    color: #1DA1F2;
  }
  .wrapper a:nth-child(4) {
    color: #dd4b39;
  }
  .wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  }
footer{
    background-color: #373C42;
}
.copyright{
    background-color: #373C42;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  background-color: #373C42;
  margin-left: 10%;
  margin-right: 10%;
  align-content: space-around;
}

.flex-container > div{
  background-color: whitesmoke;
  width: auto;
  margin:10px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  box-shadow: 10px 10px;
}
