
img{
    max-width: 100%;
    height: auto;
}
.carousel-caption{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
#intro{
    font-family: 'Rakkas';
    font-size: 22px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}